# Replit configuration file
language = "nodejs"
entrypoint = "dist/main.js"
run = "npm run start:prod"
alwaysRun = ["npm install", "npm run build"]
build = "npm run build"

[languages.nodejs]
pattern = "**/*.{js,ts,json}"

[nix]
channel = "stable-23_11"
